<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.FastDfsMapper">
  <resultMap id="BaseResultMap" type="com.qxf.pojo.FastDfs">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="down_count" jdbcType="INTEGER" property="downCount" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="uploader" jdbcType="VARCHAR" property="uploader" />
    <result column="lastdown_time" jdbcType="TIMESTAMP" property="lastdownTime" />
    <result column="size" jdbcType="VARCHAR" property="size" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_name, file_path, down_count, upload_time, uploader, lastdown_time, size
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fastdfs
    where id = #{id,jdbcType=VARCHAR}
  </select>


    <select id="getFastDfsByPage" parameterType="java.lang.String" resultType="com.qxf.pojo.FastDfs">
      SELECT
      f.id,
      f.file_name AS fileName,
      f.file_path AS filePath,
      f.down_count AS downCount,
      f.upload_time AS uploadTime,
      f.uploader,
      f.lastdown_time AS lastdownTime,
      f.size
      FROM
      t_fastdfs f
      WHERE 1=1
      <if test=" name != null and name != '' ">
        AND f.file_name LIKE CONCAT('%',#{name},'%')
      </if>
      order by f.upload_time

    </select>



    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_fastdfs
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qxf.pojo.FastDfs">
    insert into t_fastdfs (id, file_name, file_path, 
      down_count, upload_time, uploader, 
      lastdown_time, size)
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{downCount,jdbcType=INTEGER}, #{uploadTime,jdbcType=TIMESTAMP}, #{uploader,jdbcType=VARCHAR}, 
      #{lastdownTime,jdbcType=TIMESTAMP}, #{size,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qxf.pojo.FastDfs">
    insert into t_fastdfs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="downCount != null">
        down_count,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="uploader != null">
        uploader,
      </if>
      <if test="lastdownTime != null">
        lastdown_time,
      </if>
      <if test="size != null">
        size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="downCount != null">
        #{downCount,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null">
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="lastdownTime != null">
        #{lastdownTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxf.pojo.FastDfs">
    update t_fastdfs
    <set>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="downCount != null">
        down_count = #{downCount,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null">
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="lastdownTime != null">
        lastdown_time = #{lastdownTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxf.pojo.FastDfs">
    update t_fastdfs
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      down_count = #{downCount,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      uploader = #{uploader,jdbcType=VARCHAR},
      lastdown_time = #{lastdownTime,jdbcType=TIMESTAMP},
      size = #{size,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>