<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.SecretaryMapper">
  <resultMap id="BaseResultMap" type="com.qxf.pojo.Secretary">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="major_id" jdbcType="VARCHAR" property="majorId" />
    <result column="institute_id" jdbcType="VARCHAR" property="instituteId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, age, email, photo_url, phone, major_id, institute_id, nickname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_secretary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_secretary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qxf.pojo.Secretary">
    insert into t_secretary (id, name, sex, 
      age, email, photo_url, 
      phone, major_id, institute_id, 
      nickname)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, #{instituteId,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qxf.pojo.Secretary">
    insert into t_secretary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
      <if test="instituteId != null">
        institute_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="instituteId != null">
        #{instituteId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxf.pojo.Secretary">
    update t_secretary
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="instituteId != null">
        institute_id = #{instituteId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxf.pojo.Secretary">
    update t_secretary
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=VARCHAR},
      institute_id = #{instituteId,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getSecretaryByPage" parameterType="java.lang.String" resultType="com.qxf.pojo.Secretary">
    select
    t.id,
    t.name,
    t.sex,
    t.age,
    t.email ,
    t.phone ,
    t.photo_url AS photoUrl,
    t.major_id AS majorId,
    t.nickname,
    t.institute_id AS instituteId,
    m.name As majorName,
    m.major_number As majorNumber
    from t_secretary t,
    t_major m
    WHERE 1=1
    <if test=" name != null and name != '' ">
      AND t.name LIKE CONCAT('%',#{name},'%')
    </if>
    AND m.id = t.major_id


  </select>

</mapper>